<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="canonical" href="<%= canonical %>">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #ffffff;
      color: #333333; /* Updated text color for better contrast */
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      color: #ffffff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
    h2, h3 {
      color: #212529;
    }
    p, ul, li, pre, code {
      color: #333333;
    }
  </style>
  
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container mt-5">
    <%- include('./calculators/calculator') %>    
  </div>
  <div class="container mt-5">
    <% if (partial === 'sip-calculator') { %>
      <%- include('calculators/sip_calculator') %>
    <% } else if (partial === 'simple-sip-calculator') { %>
      <%- include('calculators/simple_sip_calculator') %>
    <% } else if (partial === 'stepup-sip-calculator') { %>
      <%- include('calculators/step_up_sip_calculator') %>
    <% } else { %>
      <h1>Welcome to StepUp SIP Calculator</h1>
      <p>Get detailed information about SIP, mutual funds, and the market. Our website provides tools and resources to help you make informed investment decisions.</p>
      <p>Explore our SIP calculators to plan your investments and achieve your financial goals.</p>
    <% } %>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
